html {
  font-size: 10px;
  background: url(http://i.imgur.com/b9r5sEL.jpg) bottom center;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;   /* top center or bottom position */
  justify-content: center;   /* left, center or right position */
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease; /* .07s represent how long the transition will play for, .07s is super brief so the effect will play really quick */
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);   /* last  value 0.4 is the transparent value */
  text-shadow: 0 0 .5rem black;
}

.playing {   /* class to add on DOM manipulation */
  transform: scale(1.1);   /* transform: that make the key scale Bigger*/
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block; /* make the kbd behave as block inside its div container */
  font-size: 4rem;
}

.sound { /* class to add on DOM manipulation */
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
